USE [master]
GO
/****** Object:  Database [DBTeknikServis]    Script Date: 14.2.2021 15:25:32 ******/
CREATE DATABASE [DBTeknikServis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTeknikServis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBTeknikServis.mdf' , SIZE = 290816KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBTeknikServis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBTeknikServis_log.ldf' , SIZE = 757248KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTeknikServis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTeknikServis]
GO
/****** Object:  StoredProcedure [dbo].[maxUrunKategoriGetir]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[maxUrunKategoriGetir]
as
select top 1 TblKategori.AD from TblUrun
inner join TblKategori on TblKategori.ID=TblUrun.KATEGORI
group by TblKategori.AD order by count(*) desc
GO
/****** Object:  StoredProcedure [dbo].[UrunKategori]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure  [dbo].[UrunKategori]
as
select count(TblUrun.AD) as Adet ,TblKategori.AD from TblUrun 
inner join TblKategori on TblKategori.ID=TblUrun.KATEGORI
group by TblKategori.AD
order by Adet
GO
/****** Object:  Table [dbo].[Sayfa1$]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sayfa1$](
	[ID] [int] NULL,
	[ADSOYAD] [nvarchar](255) NULL,
	[CINSIYET] [nvarchar](255) NULL,
	[DOGUMTARIHI] [datetime] NULL,
	[SEHIR] [varchar](50) NULL,
	[ILCE] [varchar](53) NULL,
	[TELEFON] [varchar](20) NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[TC] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblAdmin]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblAdmin](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](20) NULL,
 CONSTRAINT [PK_TblAdmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblAraclar]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblAraclar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
 CONSTRAINT [PK_TblAraclar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblArizaDetay]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblArizaDetay](
	[ARIZAID] [int] IDENTITY(1,1) NOT NULL,
	[ISLEM] [int] NULL,
	[SORUN] [varchar](250) NULL,
	[ACIKLAMA] [varchar](250) NULL,
	[ONFIYAT] [decimal](18, 2) NULL,
	[NETFIYAT] [decimal](18, 2) NULL,
	[ISLEMLER] [varchar](500) NULL,
 CONSTRAINT [PK_TblArizaDetay] PRIMARY KEY CLUSTERED 
(
	[ARIZAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblCari]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblCari](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](20) NULL,
	[MAIL] [varchar](50) NULL,
	[IL] [varchar](20) NULL,
	[ILCE] [varchar](53) NULL,
	[BANKA] [varchar](50) NULL,
	[VERGIDAIRESI] [varchar](50) NULL,
	[VERGINO] [varchar](50) NULL,
	[STATU] [varchar](50) NULL,
	[ADRES] [varchar](250) NULL,
 CONSTRAINT [PK_TblCari] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblDepartman]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblDepartman](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[ACIKLAMA] [varchar](100) NULL,
 CONSTRAINT [PK_TblDepartman] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblFaturaBilgi]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblFaturaBilgi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [smalldatetime] NULL,
	[SAAT] [char](5) NULL,
	[VERGIDAIRE] [varchar](50) NULL,
	[CARI] [int] NULL,
	[PERSONEL] [smallint] NULL,
 CONSTRAINT [PK_TblFaturaBilgi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblFaturaDetay]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblFaturaDetay](
	[FATURADETAYID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [varchar](50) NULL,
	[ADET] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TblFaturaDetay] PRIMARY KEY CLUSTERED 
(
	[FATURADETAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblGiderler]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblGiderler](
	[GIDERID] [int] IDENTITY(1,1) NOT NULL,
	[GIDERACIKLAMA] [varchar](50) NULL,
	[TARIH] [smalldatetime] NULL,
	[TUTAR] [decimal](18, 2) NULL,
 CONSTRAINT [PK_TblGiderler] PRIMARY KEY CLUSTERED 
(
	[GIDERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tblilceler]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tblilceler](
	[id] [int] NOT NULL,
	[ilce] [nvarchar](255) NULL,
	[sehir] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbliletisim]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbliletisim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](50) NULL,
	[MAIL] [varchar](50) NULL,
	[KONU] [varchar](50) NULL,
	[MESAJ] [varchar](500) NULL,
 CONSTRAINT [PK_ILETISIM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbliller]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbliller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [nvarchar](255) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblKategori]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblKategori](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_TblKategori] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblNotlar]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblNotlar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BASLIK] [varchar](50) NULL,
	[ICERIK] [varchar](500) NULL,
	[DURUM] [bit] NULL,
	[TARİH] [datetime] NULL,
 CONSTRAINT [PK_TblNotlar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblPersonel]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblPersonel](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[SOYAD] [varchar](30) NULL,
	[DEPARTMAN] [tinyint] NULL,
	[FOTOGRAF] [varchar](100) NULL,
	[MAIL] [varchar](50) NULL,
	[TELEFON] [varchar](20) NULL,
 CONSTRAINT [PK_TblPersonel] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblUrun]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUrun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[MARKA] [varchar](30) NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[STOKSAYISI] [smallint] NULL,
	[KATEGORI] [tinyint] NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TblUrun] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblUrunHareket]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUrunHareket](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[PERSONEL] [smallint] NULL,
	[TARIH] [smalldatetime] NULL,
	[ADET] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[URUNSERINO] [char](5) NULL,
 CONSTRAINT [PK_TblUrunHareket] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblUrunKabul]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUrunKabul](
	[ISLEMID] [int] IDENTITY(1,1) NOT NULL,
	[CARI] [int] NULL,
	[PERSONEL] [smallint] NULL,
	[GELISTARIHI] [smalldatetime] NULL,
	[CIKISTARIHI] [smalldatetime] NULL,
	[URUNSERINO] [char](5) NULL,
	[URUNDURUM] [bit] NULL,
	[DURUMDETAY] [varchar](30) NULL,
 CONSTRAINT [PK_TblUrunKabul] PRIMARY KEY CLUSTERED 
(
	[ISLEMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblUrunTakip]    Script Date: 14.2.2021 15:25:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblUrunTakip](
	[TAKIPID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[ACIKLAMA] [varchar](500) NULL,
	[TARIH] [smalldatetime] NULL,
	[SERINO] [char](5) NULL,
 CONSTRAINT [PK_TblUrunTakip] PRIMARY KEY CLUSTERED 
(
	[TAKIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TblNotlar] ADD  CONSTRAINT [DF_Table_1_OKUMA]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TblUrun] ADD  CONSTRAINT [DF_TblUrun_DURUM]  DEFAULT ((0)) FOR [DURUM]
GO
ALTER TABLE [dbo].[TblUrunKabul] ADD  CONSTRAINT [DF_TblUrunKabul_GELISTARIHI]  DEFAULT (getdate()) FOR [GELISTARIHI]
GO
ALTER TABLE [dbo].[TblFaturaBilgi]  WITH CHECK ADD  CONSTRAINT [FK_TblFaturaBilgi_TblCari] FOREIGN KEY([CARI])
REFERENCES [dbo].[TblCari] ([ID])
GO
ALTER TABLE [dbo].[TblFaturaBilgi] CHECK CONSTRAINT [FK_TblFaturaBilgi_TblCari]
GO
ALTER TABLE [dbo].[TblFaturaBilgi]  WITH CHECK ADD  CONSTRAINT [FK_TblFaturaBilgi_TblPersonel] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TblPersonel] ([ID])
GO
ALTER TABLE [dbo].[TblFaturaBilgi] CHECK CONSTRAINT [FK_TblFaturaBilgi_TblPersonel]
GO
ALTER TABLE [dbo].[TblFaturaDetay]  WITH CHECK ADD  CONSTRAINT [FK_TblFaturaDetay_TblFaturaBilgi] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TblFaturaBilgi] ([ID])
GO
ALTER TABLE [dbo].[TblFaturaDetay] CHECK CONSTRAINT [FK_TblFaturaDetay_TblFaturaBilgi]
GO
ALTER TABLE [dbo].[Tblilceler]  WITH CHECK ADD  CONSTRAINT [FK_Tblilceler_Tbliller] FOREIGN KEY([sehir])
REFERENCES [dbo].[Tbliller] ([id])
GO
ALTER TABLE [dbo].[Tblilceler] CHECK CONSTRAINT [FK_Tblilceler_Tbliller]
GO
ALTER TABLE [dbo].[TblPersonel]  WITH CHECK ADD  CONSTRAINT [FK_TblPersonel_TblDepartman] FOREIGN KEY([DEPARTMAN])
REFERENCES [dbo].[TblDepartman] ([ID])
GO
ALTER TABLE [dbo].[TblPersonel] CHECK CONSTRAINT [FK_TblPersonel_TblDepartman]
GO
ALTER TABLE [dbo].[TblPersonel]  WITH CHECK ADD  CONSTRAINT [FK_TblPersonel_TblDepartman1] FOREIGN KEY([DEPARTMAN])
REFERENCES [dbo].[TblDepartman] ([ID])
GO
ALTER TABLE [dbo].[TblPersonel] CHECK CONSTRAINT [FK_TblPersonel_TblDepartman1]
GO
ALTER TABLE [dbo].[TblUrun]  WITH CHECK ADD  CONSTRAINT [FK_TblUrun_TblKategori] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TblKategori] ([ID])
GO
ALTER TABLE [dbo].[TblUrun] CHECK CONSTRAINT [FK_TblUrun_TblKategori]
GO
ALTER TABLE [dbo].[TblUrunHareket]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunHareket_TblCari] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TblCari] ([ID])
GO
ALTER TABLE [dbo].[TblUrunHareket] CHECK CONSTRAINT [FK_TblUrunHareket_TblCari]
GO
ALTER TABLE [dbo].[TblUrunHareket]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunHareket_TblPersonel] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TblPersonel] ([ID])
GO
ALTER TABLE [dbo].[TblUrunHareket] CHECK CONSTRAINT [FK_TblUrunHareket_TblPersonel]
GO
ALTER TABLE [dbo].[TblUrunHareket]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunHareket_TblUrun] FOREIGN KEY([URUN])
REFERENCES [dbo].[TblUrun] ([ID])
GO
ALTER TABLE [dbo].[TblUrunHareket] CHECK CONSTRAINT [FK_TblUrunHareket_TblUrun]
GO
ALTER TABLE [dbo].[TblUrunKabul]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunKabul_TblCari] FOREIGN KEY([CARI])
REFERENCES [dbo].[TblCari] ([ID])
GO
ALTER TABLE [dbo].[TblUrunKabul] CHECK CONSTRAINT [FK_TblUrunKabul_TblCari]
GO
ALTER TABLE [dbo].[TblUrunKabul]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunKabul_TblPersonel] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TblPersonel] ([ID])
GO
ALTER TABLE [dbo].[TblUrunKabul] CHECK CONSTRAINT [FK_TblUrunKabul_TblPersonel]
GO
ALTER TABLE [dbo].[TblUrunKabul]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunKabul_TblPersonel1] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TblPersonel] ([ID])
GO
ALTER TABLE [dbo].[TblUrunKabul] CHECK CONSTRAINT [FK_TblUrunKabul_TblPersonel1]
GO
ALTER TABLE [dbo].[TblUrunTakip]  WITH CHECK ADD  CONSTRAINT [FK_TblUrunTakip_TblUrun] FOREIGN KEY([URUN])
REFERENCES [dbo].[TblUrun] ([ID])
GO
ALTER TABLE [dbo].[TblUrunTakip] CHECK CONSTRAINT [FK_TblUrunTakip_TblUrun]
GO
USE [master]
GO
